@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  margin: 0;
  padding: 0;
background-image: url(bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*{
  box-sizing: border-box;
}


